/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 64%, 49%);
  --clr-primary-8: hwb(184 53% 5%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
/* img:not(.nav-logo) {
  width: 100%;
  display: block;
} */

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/*
=============== 
Navbar
===============
*/

nav {
  background-color: var(--clr-grey-10);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

.nav-content {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-content span {
  color: var(--clr-primary-5);
}

.nav-headers {
  display: flex;
  gap: 0 1rem;
}

.nav-headers li a {
  color: var(--clr-grey-4);
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  display: none;
}

.soc-links {
  gap: 0 1rem;
  display: none;
}

.soc-icon i {
  color: var(--clr-primary-5);
  font-size: 1.5rem;
}

.nav-btn {
  display: block;
  font-size: 1.5rem;
  transition: var(--transition);
}

.nav-btn:hover {
  font-size: 1.75rem;
}

@media screen and (min-width: 920px) {
  .nav-btn {
    display: none;
  }
  .soc-links {
    display: flex;
  }
  .nav-headers li a {
    display: flex;
  }
}

.nav-links {
  display: none;
  transition: var(--transition);
}

.show-links {
  display: contents;
  transition: var(--transition);
}

.nav-links li {
  font-size: 1.25rem;
  padding: 1rem 0;
  transition: var(--transition);
}

.nav-links li a {
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  width: 90vw;
  margin: 0 auto;
  display: block;
  transition: var(--transition);
}

.nav-links li:hover {
  background-color: var(--clr-primary-7);
}

.nav-links li:hover a {
  padding-left: 0.5rem;
}

.hero-container {
  width: 100vw;
  height: 93vh;
  background-color: var(--clr-primary-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  width: 90%;
  max-width: 920px;
  color: var(--clr-white);
}

.hero-content h1 {
  font-size: 5rem;
}

.hero-content p {
  color: var(--clr-white);
  padding: 0 2rem;
  letter-spacing: var(--spacing);
}

.hero-btn {
  padding: 1rem 2rem;
  background-color: var(--clr-white);
  color: var(--clr-primary-5);
  font-size: 1.2rem;
}

@media screen and (min-width: 750px) {
  .hero-container {
    background: linear-gradient(rgba(22, 214, 227, 0.5), rgba(0, 0, 0, 0.8)),
      url(../images/main.jpeg) center/cover no-repeat;
  }
}

/*
=============== 
Hero
===============
*/
/*
=============== 
About
===============
*/

.about-container {
}

.about-header {
  margin: 4rem 0;
  text-align: center;
}

.about-header span {
  color: var(--clr-primary-5);
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.about-img-container,
.about-info-container {
  flex: 0 0 100%;
}

.about-img-container {
  margin-bottom: 2rem;
}

.about-info-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 960px) {
  .about-img-container,
  .about-info-container {
    flex: 0 0 calc(50% - 4rem);
  }

  .about-img-container {
    /* outline: 0.75rem solid var(--clr-primary-5); */
    /* outline-offset: 2px; */
  }

  .about-frame-container {
    border: 0.75rem solid var(--clr-primary-5);
    transform: translate(-10%, -10%);
  }
}

/* section add to globals */
/* title add to globals */
/* section center add to globals */

/*
=============== 
Services
===============
*/

.services-container {
  background-color: var(--clr-grey-10);
  padding-bottom: 3rem;
}

.services-header {
  font-size: 1.8rem;
  padding: 4rem 0;
  text-align: center;
}

.services-header span {
  color: var(--clr-primary-5);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.each-service {
  flex: 0 0 100%;
  text-align: center;
  border: 1ps solid red;
}

.service-icon {
  font-size: 2rem;
  background-color: var(--clr-primary-7);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  display: inline-block;
  margin: 1.5rem 0;
}

.service-info p {
  max-width: 20rem;
  margin: 0 auto;
}

@media screen and (min-width: 585px) {
  .each-service {
    flex: 0 0 calc(50% - 3rem);
  }
}

@media screen and (min-width: 1100px) {
  .each-service {
    flex: 0 0 calc(33.333% - 3rem);
  }
}

/*
=============== 
Featured Tours
===============
*/

.featured-tours {
  padding-bottom: 4rem;
}

.featured-header {
  padding: 4rem 0;
  text-align: center;
}

.featured-header span {
  color: var(--clr-primary-5);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 100%;
  background-color: var(--clr-grey-10);
  margin: 2rem 0;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--dark-shadow);
}

.card-img-container {
  position: relative;
}

.card-img-container span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px 4px;
  background-color: var(--clr-primary-8);
}

.card-img-container img {
  height: 250px;
  object-fit: cover;
}

.card-info {
  margin: 1rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  color: var(--clr-primary-5);
}

.btn-container {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 0 0 calc(50% - 2rem);
  }
}

@media screen and (min-width: 1200px) {
  .card {
    flex: 0 0 calc(33.333% - 4rem);
  }
}
/*
=============== 
Contact
===============
*/

.contact-container {
  background-color: var(--clr-primary-6);
  padding: 4rem 0;
}

.contact-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info h3 {
  color: var(--clr-white);
}

.contact-info p {
  color: var(--clr-primary-9);
}

.contact-info,
.contact-submit {
  flex: 0 0 100%;
}

.contact-submit {
  display: flex;
  gap: 0 0.5rem;
  margin: 1rem 0;
  max-width: 460px;
  height: 2rem;
}

.mail {
  border: none;
  letter-spacing: var(--spacing);
  flex-grow: 1;
  padding: 0.25rem 1rem;
  display: block;
}

.cont-btn {
  background-color: var(--clr-primary-7);
  color: var(--clr-grey-3);
  transition: var(--transition);
  display: block;
}

.cont-btn:hover {
  background-color: var(--clr-primary-3);
  color: var(--clr-primary-6);
}

@media screen and (min-width: 1100px) {
  .contact-info,
  .contact-submit {
    flex: 0 0 50%;
    max-width: 700px;
  }

  .contact-info h3 {
    font-size: 1.3rem;
  }
}

/*
=============== 
Gallery
===============
*/

.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.img-container {
  position: relative;
  display: block;
}

.search-icon {
  position: absolute;
  color: var(--clr-white);
  font-size: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}

.img-container:hover .search-icon {
  /* width: 100%;
  height: 100%;
  background: linear-gradient(rgba(45, 197, 207, 0.5), rgba(45, 197, 207, 0.5));
  text-align: center; */
  opacity: 1;
}

@media screen and (min-width: 786px) {
  .img-container {
    flex: 0 0 50%;
  }
}

@media screen and (min-width: 1020px) {
  .img-container {
    flex: 0 0 25%;
  }
}

/*
=============== 
Footer
===============
*/

.footer-container {
  background-color: var(--clr-grey-1);
  color: var(--clr-white);
}

.footer-container a {
  color: var(--clr-white);
}

.footer-nav-links {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.footer-soc-links {
  display: flex;
  justify-content: center;
  gap: 0 2rem;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.footer-content {
  text-align: center;
  padding-bottom: 5rem;
  margin-bottom: 0;
}
